name: Build and Deploy to Azure

on:
  push:
    branches: [main]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AZURE_ENV_NAME: prod
  AZURE_LOCATION: westus3
  AZURE_SUBSCRIPTION_ID: b17b5c90-9140-49df-895f-d8f1139ccaf9

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.meta.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: f3ca2417-5610-476c-83e6-2d0bff678d54
          tenant-id: 50b09810-88c1-4d76-af71-e73044fc317e
          subscription-id: b17b5c90-9140-49df-895f-d8f1139ccaf9

      - name: Build and push image to ACR (cloud build)
        run: |
          az acr build \
            --registry ${{ vars.ACR_NAME }} \
            --image zavastorefront:${{ github.sha }} \
            --image zavastorefront:latest \
            --file Dockerfile \
            .

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    environment: dev
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: f3ca2417-5610-476c-83e6-2d0bff678d54
          tenant-id: 50b09810-88c1-4d76-af71-e73044fc317e
          subscription-id: b17b5c90-9140-49df-895f-d8f1139ccaf9

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.WEB_APP_NAME }}
          images: ${{ vars.ACR_LOGIN_SERVER }}/zavastorefront:${{ github.sha }}
