name: Build and Deploy to Azure

on:
  push:
    branches: [main]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.meta.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build and push image to ACR (cloud build)
        run: |
          az acr build \
            --registry ${{ vars.ACR_NAME }} \
            --image zavastorefront:${{ github.sha }} \
            --image zavastorefront:latest \
            --file Dockerfile \
            .

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    #environment: dev
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_WEBAPP_NAME }}
          images: ${{ vars.ACR_LOGIN_SERVER }}/zavastorefront:${{ github.sha }}